[2021-11-05 14:31] MichaelClifford opened #4 "Setup communication infrastructure for meetup [EPIC]"
We would like to start hosting regular Data Science Meet Ups as part of the operate first community. Before we promote the meetup there is some necessary communications infrastructure and planning that needs to be put in place. This issue represents the epic for all things that need to happen for us to be ready to promote the meetup.

- [x] Create [repo](https://github.com/aicoe-aiops/cloud-first-

[2021-11-05 14:41] MichaelClifford commented on #4
https://github.com/AICoE/okr/issues/4

[2021-11-05 14:52] MichaelClifford opened #5 "Add OWNERS"
Add an OWNERS file to the repo

[2021-11-05 15:17] #5 closed

[2021-11-11 15:32] #4 closed

[2021-11-11 15:35] suppathak opened #10 "Presentation on OpenShift Workload Fingerprinting"
## Please provide the following info about your topic submission

**Title**
OpenShift Workload Fingerprinting

**Short Description**
Insight into customer workload CI data by doing exploratory data analysis and applying ML clustering technique.

**When would you like to present?**
Anytime after Nov 22, 2021.

**Presenter(s)**
Surya Prakash Pathak
[Github](https://github.com/suppathak)

[2021-11-29 15:14] hemajv opened #12 "Metrics to track the opf data science community"
We should identify metrics to track the community engagement and user growth such as number of new users over time, user retention, number of attendees for the meetup over time etc.

[2021-11-29 15:15] hemajv commented on #12
Initial document with metrics: https://docs.google.com/document/d/1cgnJuOD642qpG8qO-NnRWCZCAqSOa_3m7y_jX30iRlM/edit?usp=sharing

[2022-01-19 17:14] aakankshaduggal opened #16 "Create a format for the Opf Data Science Meetup"
To ensure consistency across all meetups, plan and design a format for each Meetup.

For example -

1. Opening and Introduction of the Speaker
2. Presentation
3. Q&A
4. Closing Note.

[2022-01-20 14:49] aakankshaduggal opened #17 "Operate First Data Science Community Meetup #1"
* Presented by @MichaelClifford
* What is Operate First for Data Science?
* Deploy Jupyter Lab and Notebooks easily with Operate First.
* Learn how to get up and running with either a classic Jupyter notebook or a Jupyter lab instance with Operate First and start doing data science in the cloud!
* [Video Recording](https://youtu.be/v4mur-_ywBM)

[2022-01-20 14:50] #17 closed

[2022-01-20 14:51] aakankshaduggal opened #18 "Operate First Data Science Community Meetup #2"
* Presented by Francesco Murdaca
* Learn about the existing open data science platform managed by the Operate First team and how to create and share reproducible notebooks with jupyterlab-requirements available on Open Data Hub images.
* Get a chance to perform a tutorial live on different common cases.
* [Video Recording](https://youtu.be/JqtZCsQPCKM)

[2022-01-20 14:52] #18 closed

[2022-01-20 14:54] aakankshaduggal opened #19 "Operate First Data Science Community Meetup #3"
**Build your own JupyterHub image with aicoe-ci**
* Presented by Karan Chauhan on December 14th, 2021.
* Learn how to package your own data science content into container images using a simple CI tool, aicoe-ci, and share it as a reproducible data science development environment on JupyterHub.
* [Video Recording](https://youtu.be/vtyumrV-LgA)

[2022-01-20 14:57] #19 closed

[2022-01-20 14:58] aakankshaduggal opened #20 "Operate First Data Science Community Meetup #4"
**Create an AI pipeline on ODH using Elyra, Kubeflow and Tekton**

* Presented by Oindrilla Chatterjee on Jan 25, 2022
* In this session, learn how you can automate your data science workflow and run your notebooks in an automated fashion by creating an AI pipeline using Elyra, Kubeflow, and Tekton.

[2022-01-26 17:20] Shreyanand opened #21 "Operate First Data Science Community Meetup #5"
**Using Operate First for OS-Climate NLP model inference**

- Presenter: @Shreyanand on February 8th 2022
- In this talk, learn how to use Open Data Hub services on the Operate First infrastructure to create an end to end inference pipeline for a Natural language processing model.

Actionable Items -

- [x]  Add this to the agenda (#24)
- [x] Send an invite via email and twitter (https://github.co

[2022-01-26 17:49] suppathak commented on #10
Closing this issue since the project is based on the data outside of Operate First realm.

[2022-01-26 17:49] #10 closed

[2022-01-26 17:53] suppathak opened #23 "Operate First Data Science Community Meetup #6"
## Please provide the following info about your topic submission

Title
Anomaly detection using Hierarchical Temporal Memory algorithm on operate first CPU data

Short Description
Talk consists of Introduction to concept of HTM, followed by its application to anomaly detection on operate first CPU usage data.

Presenter(s)
Surya Prakash Pathak
[Github](https://github.com/suppathak)

Actionable Ite

[2022-01-26 20:06] #20 closed

[2022-02-01 17:01] aakankshaduggal opened #25 "[EPIC] - Metrics for Opf Data Science Community"
- [x] #26
- [x] #27
- [x] #49
- [x] Metrics to be tracked (#12 )
- [x] EDA notebook
- [x] Visualization Dashboard (#45 )

[2022-02-01 17:06] aakankshaduggal opened #26 "Ceph Bucket for Data"
Acceptance Criteria -
- [ ] Decide on a  storage location(ceph bucket) for this repository

[2022-02-01 17:06] aakankshaduggal opened #27 "Research methods to obfuscate attendee data and prototype PoC"
For each community meetup, we are tracking attendees' details. However, to move further with the analyses of this information, we would want to perform EDA and create visualizations to better understand the growth of this community.

This data that we are storing currently contains - First name, Last name, Email, Duration, Time joined, Time exited. The data fields - `First name`, `Last Name` and `

[2022-02-02 17:43] aakankshaduggal opened #28 "Create a Policy for the Opf DS Community Meetup"
We would want to create a policy for the Opf DS Community Meetup, that would allow the users to know what all data we would be recording like the meetups being recorded, the attendees data being recorded.

We would also however ensure that the data is not posted publicly with the attendees' public information.

Acceptance Criteria -
Policy document for Operate First Data Science Community Meetup

[2022-02-02 18:03] aakankshaduggal opened #29 "Create an issue template"
Create an issue template for -
- [x] talk proposal
- [x] Once meetup is finalized create an issue template that contains the following items

    -  Pre-meetup communication - Email and Twitter post
    -  Meetup - Description of the meetup and updated agenda
    -  Video Recording - Edit the video recording of the meetup
    -  Upload to YT - Upload the video recording to Operate First YouTube ch

[2022-02-02 18:45] suppathak commented on #27
Hi @aakankshaduggal ,
In order to explore some data obfuscation techniques. If I want to contribute, then shall I download some random dataset (which are in similar format) from the web and try out the data obfuscation technique for the dataset. The notebook created will just be exploring the data obfuscation technique for the random dataset. wdyt?

[2022-02-03 16:45] aakankshaduggal opened #30 "Add meetup invite email and update email formats"
We have been sending out emails for the meetup every Thursday before and after the meetup, to ensure consistency throughout we would want to add a format for the emails to be sent.

Acceptance Criteria -
- [ ] Format for invite email
- [ ] Format for post meetup update email

[2022-02-03 20:21] #30 closed

[2022-02-03 21:08] oindrillac commented on #27
@aakankshaduggal can we add another Acceptance criteria #2 to test out build a simple PoC of the chosen obfuscation technique on sample data out of the ones researched in #1.

[2022-02-03 21:09] oindrillac commented on #27
Can we also add a more descriptive title perhaps something like "Research methods to obfuscate attendee data and prototype PoC"

[2022-02-03 21:13] oindrillac commented on #27
@suppathak that sounds like a reasonable step to move forward with this. Let's come with a notebook with some markdown which explores a few suitable obfuscation techniques for this use case and compares them on a random dataset. So once we have a policy set through #28, we can start to apply it to our dataset.

[2022-02-03 21:24] suppathak commented on #27
Sounds good @oindrillac . Shall I assign myself to this issue?

[2022-02-03 21:30] oindrillac commented on #27
yes please go ahead. 👍

[2022-02-04 14:46] aakankshaduggal commented on #27
Thank you @suppathak and @oindrillac, I have updated the issue and the acceptance criteria.
I will also add a sample data set to this repository.

[2022-02-04 16:29] chauhankaranraj commented on #28
Hey team, has anyone started working on this yet? If not, I'm happy to start a doc and anyone who'd like to contribute can collaborate there? wdyt?

[2022-02-04 16:31] aakankshaduggal commented on #28
Sounds good @chauhankaranraj , I can work with you on this one.

[2022-02-08 20:35] oindrillac opened #34 "[Metric] Collect engagement metrics from website meetup and data science landing page"
We want to see metrics such as :

- Number of page visits over time
- Number of unique page views over time
- Most Popular/ Most viewed page on operate first website

for [data science landing page](https://www.operate-first.cloud/data-science/) on operate-first.cloud & [operate first community meetup page](https://www.operate-first.cloud/data-science/operate-first-data-science-community/docs/meet

[2022-02-08 20:35] aakankshaduggal opened #35 "[Metric] Collect Meetup Communication Metrics"
As a part of EPIC #25, we are trying to collect metrics as mentioned in issue #12.

For the Opf Data Science Community Communications, we would want to collect the following metrics

Issue #45 :
- Number of Attendees for OPF Data Science Meetup over time ( After #28 is in place)
- Operate first Page visits

------

- Number of outside speakers in the meetup/ Number of “topic submission” issues per

[2022-02-08 20:41] oindrillac opened #36 "[Metric] Collect engagement metrics on OPF DS Community meetups posted on YouTube playlist"
We want to view metrics such as "views/likes/comments" on [operate first data science community meetup](https://youtube.com/playlist?list=PL8VBRDTElCWqC5WcZUUNJxGn9WslK6llb) playlist posted the Youtube channel to track the visibility and reach of these videos and engagement received from our marketing efforts post meetup over time.

Acceptance Criteria:

- [ ] Use methods implemented in https://gi

[2022-02-08 20:41] aakankshaduggal opened #37 "[Metrics] Collect user engagement metrics on the Operate First cloud users"
As a part of EPIC #25, we are trying to collect metrics as mentioned in issue #12.

For the user engagement on the operate first cloud services, we would want to collect the following metrics :

* **Grafana** :
  - Number of new users for JupyterHub over time
  - User Retentions(% of returning users month over month)
* **Github** :
  - Number of forks/stars/watchers on aicoe-aiops repositories.

[2022-02-08 20:45] oindrillac opened #38 "[Metric] Collect engagement metrics on tweets related to DS Community meetup"
We want to view metrics such as Likes/Retweets for the post and pre-meetup tweets as well as follows for the [Operate First Twitter account](https://twitter.com/OperateFirst) to track the visibility and reach of these tweets.

Acceptance Criteria:

- [ ] Use methods implemented in https://github.com/open-services-group/metrics/issues/5, https://github.com/open-services-group/metrics/issues/6, http

[2022-02-09 17:17] MichaelClifford opened #40 "reach out to external speakers"

[2022-02-09 17:21] MichaelClifford opened #41 "update calendar invite"

[2022-02-09 19:51] #41 closed

[2022-02-09 20:39] #16 closed

[2022-02-10 16:33] aakankshaduggal opened #42 "Operate First Data Science Community Meetup #7"
## Please provide the following info about your topic submission

**Title**
Operate First cluster infrastructure

**Short Description**
<Add description here>

**When would you like to present?**
March 8th, 2022

**Presenter(s)**
@HumairAK

**Additional Info**
If applicable, please provide links to any relevant blogs, videos, git repos, etc relating to the suggested presentation.

Actionable Items

[2022-02-10 19:10] #21 closed

[2022-02-16 17:34] aakankshaduggal opened #45 "[Metric] - Create a visualization Dashboard"
Subissue for #35

- [ ] Get started with a simple visualization dashboard, explore Superset Dashboard to use the google analytics data for the operate first page visits metrics.

- [ ] Number of Attendees for OPF Data Science Meetup over time ( After https://github.com/aicoe-aiops/operate-first-data-science-community/issues/28 is in place)

- [ ] Operate first Data Science Community Page visits

[2022-02-16 18:22] #27 closed

[2022-02-16 18:26] #29 closed

[2022-02-16 20:49] aakankshaduggal opened #46 "Operate First Data Science Community Meetup #9"
**Title**
AI4CI - Artificial Intelligence for Continuous Integration

**Short Description**
In this session, the speakers introduce AI4CI (Artificial Intelligence for Continuous Integration), a collection of open-source AIOps tools involving open operations data made available by Kubernetes testing and visualization platforms. The speakers will demonstrate how they developed a set of Jupyter Noteb

[2022-02-22 19:15] oindrillac opened #47 "Export Google Analytics Site Metrics into Notebooks"
To view site engagement metrics, we start with prototyping dashboards using Google Data Studio which directly plugs in Google Analytics data.

If we later want to aggregate all metrics from various sources into one dashboarding tool eg Superset or Jupyterbooks etc, we can look into the Analytics API - https://developers.google.com/analytics/devguides/reporting/core/v4/quickstart/service-py

/prior

[2022-02-23 15:49] aakankshaduggal commented on #45
We have started working on a visualization dashboard for the Opf Data Science Community Metrics -

* This [dashboard](https://datastudio.google.com/u/0/reporting/de85ebeb-c76a-4930-85bf-b07a1d2becd3/page/p_jmilbfwfsc) collects metrics for the Operate First Data Science Community Meetup like the meetup attendees over time, speakers from various teams, acquisitions of users from various platforms (l

[2022-02-25 21:31] HumairAK commented on #42
(Dont' have permission to edit OP)

Short Description:
In this presentation we will cover an overview of the Operate-First Cloud Instance. The overview will cover all the clusters currently being managed by the Operate-First operations team. We will also go over briefly some of the services that are deployed on these clusters, how you can get access to them, where to learn more, and how to contrib

[2022-03-01 19:32] oindrillac commented on #45
@aakankshaduggal what else would be needed to close this issue? Can we open a PR to link this dashboard to the repository to consider this done? Any particular metrics that are needed to consider the initial dashboard complete?

[2022-03-02 13:46] #23 closed

[2022-03-02 13:48] aakankshaduggal commented on #45
This issue is good to be closed now. For the next steps, we can explore how we could export the data from google analytics to superset. (#47 )

[2022-03-02 15:38] aakankshaduggal opened #49 "Obfuscation of the meetup attendees data"
After researching various methods to obfuscate attendee data and prototyping a PoC notebook for issue #27 by #33, we would now want to move forward with applying these techniques to the actual data.

The data for the meetup attendees' is generated using a google meet API and this information is shared with the organizer of the meetup after the meetup is ended. We would want to access this data and

[2022-03-02 17:59] suppathak commented on #49
/assign @suppathak

[2022-03-02 20:07] aakankshaduggal commented on #26
After the obfuscation of the meetup attendees' data for issue #49 , store the new data in this bucket, `S3_BUCKET=opf-datacatalog`.

[2022-03-02 20:07] #26 closed

[2022-03-08 15:27] aakankshaduggal opened #50 "Convert Meetup recordings to blog posts"
Convert all the meetup recordings to blog posts. Explore resources, like https://www.rev.ai/

Acceptance Criteria -
 Blog posts

[2022-03-08 21:28] aakankshaduggal commented on #50
1. Video to text using youtube auto-generated transcript
* [Document](https://docs.google.com/document/d/1xqFarSYKSjvBphkx-Esz5xiDyKl4TlVYb-Jo3GBnLyU/edit?usp=sharing)
* Faster and auto-generated

2. Video to text using rev.ai -
* [Document](https://docs.google.com/document/d/1GDSPX4i0lRtVZAKm63BRLN1HHa_crhqAzU6OHV2wn48/edit?usp=sharing)
* More accurate transcription
* Slower as compared to youtub

[2022-03-09 15:28] aakankshaduggal opened #51 "Operate First Data Science Community Meetup #8"
**Title**
Sandiego

**Short Description**
https://github.com/sandiego-rh

**Presentation Day**
March 22nd, 2022

**Presenter(s)**
@cdolfi @JamesKunstle

**Actionable Items**
(Following actions would be carried out by the Organizers of the Operate First Data Science Community Meetup)

- [x]  Add the topic and description to the [agenda](../../docs/content.md).
- [x] Send an invite via email using t

[2022-03-09 17:51] aakankshaduggal opened #52 "Promote the meetup"
- [ ] Send out regular updates on email, chat and slack
- [ ] Promote through twitter
- [ ] Create a new LinkedIn account for Operate First
- [ ] Host meetup on public platforms like meetup

[2022-03-09 19:17] #28 closed

[2022-03-09 22:03] cdolfi commented on #51
@aakankshaduggal description:

In this meetup, there will be an overview of Project Sandiego out of Red Hat’s Open Source Program office. We will be going over the goals of the project, the tooling currently available, and what is currently in development.

[2022-03-10 20:28] aakankshaduggal opened #54 "add meetup presentations to docs/content"
Add all the previous meetups' presentations to ` docs/content`

[2022-03-10 20:31] #42 closed

[2022-03-10 20:36] suppathak opened #55 "Video walkthrough explaining obfuscation techniques"
**Acceptance Criteria**

- [x] Create a video walk-through explaining different obfuscation techniques .

[2022-03-11 20:18] oindrillac commented on #52
Creating a meetup on meetup.com needs us to sign up for a plan.

<img width="684" alt="Screen Shot 2022-03-11 at 3 16 05 PM" src="https://user-images.githubusercontent.com/32435206/157954184-92d0d217-dbe7-44fa-b97a-8ab1bae491af.png">

Its free for 6 months and might become a paid plan after. Do we want to give it a try for 6 mos?
Fyi: It needs a payment method on file to proceed. What are the thou

[2022-03-11 21:24] oindrillac opened #56 "Distributed ML workloads on OpenShift"
## Please provide the following info about your topic submission

**Title**
Distributed ML workloads on OpenShift

**Short Description**

**When would you like to present?**
Whenever?

**Presenter(s)**
@heyselbi

**Additional Info**
@heyselbi would need an access to a  a cluster with 2 GPU nodes. One gpu per node is enough to demo.

**Accepted**
- [x] Yes
- [ ] No

[2022-03-11 21:26] oindrillac commented on #56
@heyselbi can you verify whether the resources on the `opfcl1` cluster on operate first would be sufficient to support this demo? You could reach out to the operate first team on slack [here](https://join.slack.com/t/operatefirst/shared_invite/zt-o2gn4wn8-O39g7sthTAuPCvaCNRnLww) through the #support channel

[2022-03-14 16:17] aakankshaduggal opened #57 "EDA for the obfuscation data"
Acceptance Criteria

- [ ] Create a jupyter notebook would :
1. fetch data for the meetup attendees from `opf-datacatalog` bucket
2. Small description of the data
3. What does the data frame look like?
4. Some EDA on this dataset

[2022-03-14 16:33] suppathak opened #58 "Add an inference notebook for the data being stored in the opf-datacatalog bucket"
Add an inference notebook for the meetup attendees data being stored in the opf-datacatalog bucket.

[2022-03-14 16:33] suppathak commented on #58
/assign @suppathak

[2022-03-14 16:34] suppathak commented on #49
Thanks @aakankshaduggal . I will add that. Here is an issue for it #58 .

[2022-03-14 17:44] MichaelClifford commented on #49
@aakankshaduggal what would be the function of the "inference" notebook? I guess my question is, from what model is a prediction being inferred?

[2022-03-15 13:17] #49 closed

[2022-03-15 13:28] suppathak commented on #57
@aakankshaduggal , If this issue still needs to be assigned to someone, I am interested to explore it. Lmk, if I can assign myself to it. Thanks!

[2022-03-15 13:35] aakankshaduggal commented on #57
@suppathak
Sure, feel free to assign yourself. Let me know if you need any help :)

[2022-03-15 13:35] #12 closed

[2022-03-15 13:36] #34 closed

[2022-03-16 16:31] oindrillac commented on #40
https://github.com/aicoe-aiops/operate-first-data-science-community/issues/56

[2022-03-16 16:37] aakankshaduggal commented on #40
#51

[2022-03-16 16:41] oindrillac commented on #36
We are fetching Youtube Metrics from Youtube Analytics Studio which comes with our free account and a view of the dataset is currently being exported into [Google Sheets](https://docs.google.com/spreadsheets/d/16ZEGI7arPzvkxAbFsCdP7r47nbjzC-AsMIxVIHvG74M/edit?usp=sharing).

The dataset from google sheets feeds into the existing [dashboard on Google Data Studio](https://datastudio.google.com/report

[2022-03-17 16:42] aakankshaduggal commented on #50
@MichaelClifford @oindrillac @chauhankaranraj @Shreyanand @hemajv @suppathak @erikerlandson
In my opinion, we should go for the rev.ai tool to convert the meetups to blog. Please let me know what you all feel so we can start with pushing the content. Either way, we could use tools like Grammarly to resolve any grammatical issues if there are any.

[2022-03-17 16:46] aakankshaduggal commented on #54
Meetup 1 - @MichaelClifford
Meetup 2 - @pacospace
Meetup 3 - @chauhankaranraj
Meetup 4 - @oindrillac
Meetup 5 - @Shreyanand
Hello all, could you all please add your slides to `docs/content/` and name it like this - `opfmeetup<number>.pdf`

[2022-03-18 15:24] chauhankaranraj commented on #50
Both options seem quite similar to me in terms of accuracy on this particular video. However, I like that rev.ai is able to identify and track unique speakers (Speaker 0, 1, 2, etc), which could be useful for NLP applications in the future. So I'd vote rev.ai as well :)

[2022-03-18 15:49] chauhankaranraj commented on #54
@aakankshaduggal iirc there was a short "Intro to the OPF DS community" presentation by @MichaelClifford at the beginning of this meetup. So should we combine both our presentations into one pdf, or add two separate files like `opfmeetup3-part1.pdf` and `opfmeetup3-part2.pdf`? wdyt?

[2022-03-18 19:00] aakankshaduggal commented on #54
One pdf should be good I feel :+1:

[2022-03-21 08:00] pacospace commented on #54
Do we have a link to the videos? I don't remember what deck I used :D

[2022-03-21 17:53] aakankshaduggal commented on #54
@pacospace - https://youtu.be/JqtZCsQPCKM this is your video :smile:

[2022-03-22 08:00] pacospace commented on #54
Thanks a lot @aakankshaduggal, found it: https://github.com/aicoe-aiops/operate-first-data-science-community/pull/65

[2022-03-22 15:20] aakankshaduggal opened #67 "[EPIC] : Re-organize content for the meetups"
We would want to push all the content from the past and the upcoming meetups to the Opf Website. This is a proposed structure that we could follow to have organized content for all the meetups.

- [ ] A blog post that would contain links to the video and the presentation slides ( #50 )
- [ ] A folder in `docs/content` for each meetup with respective blogs and slides (#54 collected all the slides,

[2022-03-22 21:22] #57 closed

[2022-03-23 17:20] oindrillac commented on #52
Once this (https://github.com/aicoe-aiops/operate-first-data-science-community/issues/67) is ready, we can think about cross-promoting the blogs on multiple channels, internal red hat channels like next.red hat, rh research and external channels as well.

[2022-03-23 18:54] aakankshaduggal opened #69 "Youtube Naming Convention"
When we are uploading the videos to YouTube by the `Operate First Data Science Community Meetup <#Number>`, this might not be the best way for someone interested in learning about the topic to get to the video, instead, we should mention the `name of the topic` |  `Operate First Data Science Community Meetup <#Number>`

Acceptance Criteria :
 - [x] update names for the existing video
 - [ ] Mentio

[2022-03-25 00:40] #25 closed

[2022-03-28 17:57] #51 closed

[2022-03-29 17:58] aakankshaduggal opened #72 "Q1 Report of Operate First Data Science Community"
Acceptance Criteria :

- [ ] A single page report summarizing everything
- [ ] Share & Publish this report publicly on Github/JupyterBook

[2022-03-30 16:19] suppathak opened #73 "Obfuscation Techniques"
## Please provide the following info about your topic submission

**Title**
Obfuscation techniques applied to Operate-first meetup data

**Short Description**
Obfuscation techniques applied to Operate-first meetup data

**When would you like to present?**
TBD

**Presenter(s)**
Surya Prakash Pathak

**Additional Info**
@suppathak

**Accepted**
- [x] Yes
- [ ] No

[2022-03-30 16:22] suppathak commented on #50
/assign @suppathak

[2022-03-30 16:49] oindrillac commented on #72
Is being worked on somewhere? @aakankshaduggal I'd like to contribute to this report

[2022-03-30 16:49] oindrillac commented on #72
/assign @oindrillac
/priority critical-urgent

[2022-03-30 19:00] aakankshaduggal commented on #72
Thanks @oindrillac , here's a WIP [document](https://docs.google.com/document/d/1yI4pyYGLoHcYRcLLzKwcDpjeIyy1Z7jHCeenFFz5_LU/edit?usp=sharing).

[2022-04-04 20:05] aakankshaduggal opened #75 "Update the meetup invite"
To make it more accessible and easier to understand, we would want to update the meetup invite :

Acceptance Criteria :

- [ ] An updated template with outfit.io for more visual appeal
- [ ] A brief explanation about operate first

[2022-04-04 20:20] aakankshaduggal opened #76 "broken links for the slides on opf website"
![image](https://user-images.githubusercontent.com/26301643/161625432-c4fb503d-f42d-444d-b2f3-c1f500eb5c57.png)

[2022-04-04 21:35] oindrillac commented on #76
I think this is happening because the site is trying to load the pdfs within the site which it doesn't support. Currently I think only md and ipynb are supported.

A workaround could be to use full urls instead of relative urls in the agenda doc. Example instead of `[Slides](content/opfmeetup8.pdf)` using `[Slides](https://github.com/aicoe-aiops/operate-first-data-science-community/blob/main/docs/

[2022-04-04 21:56] aakankshaduggal commented on #76
Thank you @oindrillac, I will do this instead.

[2022-04-05 12:14] #76 closed

[2022-04-06 14:22] aakankshaduggal commented on #50
@hemajv @suppathak Thank you for adding yourselves to the issue. I was able to convert all these meetups to blog posts. What you all could help is with editing and proofreading these blogs before they make it to the website. I will share these blog posts on drive with you and we can split these amongst us :smile:
Here's the [link](https://drive.google.com/file/d/1UH3KaiNQfIQAyOMQANkq33g7JO6_pEHA/v

[2022-04-06 14:57] suppathak commented on #50
@aakankshaduggal , The link takes me to only one .md file, and not all converted blog posts. Am I missing anything here?

[2022-04-06 15:15] aakankshaduggal commented on #50
@suppathak - Sorry, my bad. I have updated the comment, please let me know if this works for you.

[2022-04-08 13:15] #46 closed

[2022-04-12 17:13] oindrillac opened #81 "Add operate first community meetup to operate first community calendar"

[2022-04-12 17:30] oindrillac opened #82 "how we interface with the operate first community"
![image](https://user-images.githubusercontent.com/32435206/163017799-05bcdc2f-e49b-46a2-a02f-15ce13cbf1b8.png)

The Operate first website WG has [plans](https://miro.com/app/board/uXjVOBO_7kw=/?userEmail=kwade@redhat.com&track=true&utm_source=notification&utm_medium=email&utm_campaign=add-to-board&utm_content=go-to-board) to reorganize the [operate-first.cloud](https://www.operate-first.cloud/) w

[2022-04-12 19:16] oindrillac commented on #81
Either I missed it earlier, or its been added to the calendar now. Closing :)

[2022-04-12 19:16] #81 closed

[2022-04-12 19:59] MichaelClifford commented on #82
**Here are a couple of answers to your questions from my perspective:**

Sure! It probably makes sense for all of the OPF  DS community work to be moved over there eventually and be dictated under the OPF governance instead of the current OSG governance now things are up and running. We just need to determine a transition plan.

If the Operate First Community would like to have a DS SIG we can hel

[2022-04-12 20:06] aakankshaduggal opened #83 "Automate the emails invites and updates"
As of now, we are manually sending invitations and updates via email, chat and twitter. We would want to automate this process.

Acceptance Criteria

 - [ ] Research various ways of sending automated emails.

[2022-04-12 20:27] suppathak opened #84 "Automate EDA notebook for meetup attendees data"
For creating a self updating EDA notebook, we will have to create a cron job that runs biweekly and updates the notebook for new meetup attendees data.

[2022-04-13 20:27] aakankshaduggal opened #85 "Operate First Data Science Community Meetup #10"
**Title**
Distributed ML workloads on OpenShift

**Short Description**
* As the datasets and models get bigger, the demand for more powerful and efficient GPUs is rapidly increasing. Oftentimes a single GPU is not adequate for an ML use case. An alternative to upgrading the GPU hardware is to distribute the ML workload either across several GPUs on one node, or across multiple nodes each containin

[2022-04-14 18:42] #72 closed

[2022-04-20 13:09] suppathak opened #87 "Operate First Data Science Community Meetup #11"
**Title**
Data Obfuscation Techniques

**Short Description**
A common scenario encountered by data scientists is sharing confidential and sensitive data with others. A lot of data we collect today can easily be linked to an individual, household, or entity. What should we do when we need to share these data with others?  One of the methods to anonymize personal and confidential data is by using da

[2022-04-22 13:29] oindrillac opened #89 "Update calendar invite"
By looking at the calendar invite, it's not immediately clear to me whats the talk scheduled for the day and what this meetup is about. I would suggest including the Agenda in the calendar invite.

Something like:

This meetup is hosted every two weeks.  The purpose of the meetup is to .....
Anybody who is interested in ...... is welcome to join.

**Upcoming Session and past meetups** - https://ww

[2022-04-26 18:47] aakankshaduggal commented on #89
Thanks @oindrillac for pointing this out. I have put together a draft here. Please lmk if this looks okay and @MichaelClifford could you please add it to the invite :smile:

----

The **Operate First Data Science Community Meetup** is a biweekly event, open to everyone interested in learning more about how various individuals, teams, and online communities are working towards democratizing the dev

[2022-04-26 18:49] aakankshaduggal commented on #73
closing this issue, since we are tracking this talk in #87

[2022-04-26 18:49] #73 closed

[2022-04-26 19:01] #69 closed

[2022-04-27 14:03] MichaelClifford commented on #89
Should we also take this opportunity to move the invite to the OPF calendar? I think it is currently on its own calendar that I manage. Who has admin access on the wider OPF calendar?

[2022-04-27 14:19] aakankshaduggal opened #91 "Operate First Data Science Community Meetup #12"
**Title**
Bringing AI and Machine Learning into Operation

**Short Description**

**Presentation Day**
May 17, 2022

**Presenter(s)**
Audrey Reznik

**Actionable Items**
(Following actions would be carried out by the Organizers of the Operate First Data Science Community Meetup)

- [ ]  Add the topic and description to the [agenda](../../docs/content.md).
- [ ] Send an invite via email using the [

[2022-04-28 19:56] aakankshaduggal commented on #89
@MichaelClifford and I, have updated our current calendar invite and also updated the op1st community calendar.

[2022-04-28 19:56] #89 closed

[2022-05-03 13:17] oindrillac commented on #89
Seems like the invite is updated and is present on the OPF calendar as well! Thanks @aakankshaduggal @MichaelClifford. Closing this :)

[2022-05-06 21:05] #87 closed

[2022-05-26 16:42] #56 closed

[2022-05-26 19:33] RobotSail opened #97 "Operate First Data Science Community Meetup #13"
## Please provide the following info about your topic submission

**Title**
copilot-ops: Go From Zero to DevOps Hero in Under 10 Seconds

**Short Description**
In the age of cloud-native computing, Kubernetes has taken the world by storm, forcing many of us to spend more time on Google than we should, just to become YAML experts. This ends up being a time-consuming process, as many of the YAMLs sh

[2022-05-26 20:36] aakankshaduggal opened #98 "Operate First Data Science Community Meetup #13"
**Title**
copilot-ops: Go From Zero to DevOps Hero in Under 10 Seconds

**Short Description**
In the age of cloud-native computing, Kubernetes has taken the world by storm, forcing many of us to spend more time on Google than we should, just to become YAML experts. This ends up being a time-consuming process, as many of the YAMLs share a similar structure with differing values based on the specifi

[2022-06-09 12:52] #82 closed

[2022-06-09 17:08] mayaCostantini opened #101 "Manage Python dependencies easily with Project Thoth"
**Title**
Manage Python dependencies easily with Project Thoth

**Short Description**

In this session, we will learn about Python dependency management by Project Thoth and  how to use the new extension in Jupyter Notebook experiences.
By the end of this session, attendees will learn the importance of reproducibility, Thoth recommendation using the Thoth CLI [Thamos](https://github.com/thoth-stat

[2022-06-21 19:02] sesheta commented on #55
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-21 19:02] sesheta commented on #36
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-21 19:02] sesheta commented on #67
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-21 19:02] sesheta commented on #52
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-23 01:02] sesheta commented on #35
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-23 15:50] MichaelClifford opened #102 "The Future of the Operate First Data Science Community"
## Please provide the following info about your topic submission

**Title**
The Future of the Operate First Data Science Community

**Short Description**
In this presentation, Michael Clifford, will be discussing some upcoming changes to the Operate First Data Science community at large. Specifically, it's transition from its current state to an official Special Interest Group (SIG) governed by th

[2022-06-23 15:50] MichaelClifford commented on #102
@aakankshaduggal

[2022-06-23 17:15] #98 closed

[2022-06-23 19:08] aakankshaduggal opened #103 "Operate First Data Science Community Meetup #15"
**Title**
Operate First Data Science Community Meetup 15 - The Future of the Operate First Data Science Community

**Short Description**
In this presentation, Michael Clifford, will be discussing some upcoming changes to the Operate First Data Science community at large. Specifically, it's transition from its current state to an official Special Interest Group (SIG) governed by the Operate First c

[2022-06-24 14:14] aakankshaduggal opened #105 "Create a Jupyterbook for this repo"
Since the [old website](https://old.operate-first.cloud/data-science/operate-first-data-science-community/docs/content.md) will be deprecated soon, it's important to create a jupyterbook for this repo.

Acceptance Criteria -

- [x] Create a jupyterbook for this repo

[2022-06-24 17:01] suppathak commented on #55
Adding my meet-up video, where I have described the Obfuscation technique:

https://www.youtube.com/watch?v=aj-THe9fFIQ&t=596s

[2022-06-27 20:23] suppathak commented on #84
@aakankshaduggal
The data obfuscation technique, which is applied in regular basis for regular influx of data every biweekly, is done internally. The process is not shared with others, keeping attendees data security at high priority. Once we have the obfuscated data, it can be visualized through google analytics. Hence, after giving some thought, does it makes sense to explain the steps of obfusc

[2022-06-27 20:25] suppathak commented on #55
@aakankshaduggal , I have added my meet-up presentation here, where I presented about Obfuscation techniques that was described in the notebook.

[2022-06-27 20:38] aakankshaduggal commented on #84
I think it is vital that we document this process well enough for the new organizers to be able to re-create this pipeline to anonymize the attendees' data. Let's look at it this way, instead of creating a cron job for this. We should create proper documentation for recreating this process. Starting from receiving the attendees' list from the organizer, and the corresponding hash values, then anon

[2022-06-27 21:35] aakankshaduggal commented on #55
Awesome, thank you @suppathak.
Closing this issue :rocket:

[2022-06-27 21:35] #55 closed

[2022-06-28 17:25] ilya-kolchinsky opened #106 "Suggested topic: CCO: a next generation cost optimizer for complex cloud workloads"
## Please provide the following info about your topic submission

**Title**
CCO: a next generation cost optimizer for complex cloud workloads

**Short Description**
We will present CCO - a novel optimization engine for minimizing cloud (AWS, Azure, etc.) costs for complex workloads (i.e., with up to hundreds/thousands of applications and/or components).
The goal of CCO is to calculate the best pos

[2022-06-28 17:36] aakankshaduggal opened #107 "Operate First Data Science Community Meetup #16"
**Title**
Operate First Data Science Community Meetup 16 - CCO: a next generation cost optimizer for complex cloud workloads

**Short Description**
We will present CCO - a novel optimization engine for minimizing cloud (AWS, Azure, etc.) costs for complex workloads (i.e., with up to hundreds/thousands of applications and/or components).
The goal of CCO is to calculate the best possible assignment

[2022-06-30 14:22] MichaelClifford opened #110 "Page links on Privacy Policy page don't work in Jupyterbook"
When testing the jupyterbook, the links to the different sections within the `Privacy Policy` page do not work. It appears that they need to be lower-case spellings, like ```.../privacy-policy.html#collection-of-information``` instead of ```.../privacy-policy.html#Collection-Of-Information```

Hopefully this does not break the currently working behavior of the same page rendered on Github.

[2022-06-30 18:05] #103 closed

[2022-06-30 18:34] aakankshaduggal commented on #105
Jupyterbook is ready : https://operate-first-data-science-community.catalog.meteor.zone/

[2022-07-04 16:03] sesheta commented on #75
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-05 16:03] sesheta commented on #50
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-05 16:11] #102 closed

[2022-07-05 16:11] #105 closed

[2022-07-05 16:14] aakankshaduggal opened #112 "Topic Suggestion : Build AIOps tools using Operate First"
## Please provide the following info about your topic submission

**Title**
Build AIOps tools using Operate First

**Short Description**
Want to learn how to accelerate your development of AI applications on the hybrid cloud? In this workshop, we introduce you to Operate First, an open cloud platform that provides cloud services and applications that support data scientists. We will walk you throu

[2022-07-11 22:03] sesheta commented on #83
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-13 15:31] aakankshaduggal opened #113 "Update format.md to include more details"
To ensure a smooth transition to operate first community, we need to provide more details in the format document :

- [ ] Add the mailing lists' details to the documents
- [ ] Add the step for getting the presentations for the meetup and adding it to the repository.

[2022-07-20 20:23] #107 closed

[2022-07-20 20:24] #113 closed

[2022-07-21 00:29] quaid opened #117 "Expanding the organizers of the Operate First Data Science Meetup"
## Please provide the following info about your topic submission

**Title**
How we can expand the organizers of the Operate First Data Science Meetup

**Short Description**
__Your participation is invited, your help is needed to discuss the future of the Operate First Data Science Meetup through expanding roles and people involved__

One of the first public faces of the Operate First project were

[2022-07-21 14:23] #106 closed

[2022-07-21 14:27] aakankshaduggal opened #118 "Operate First Data Science Community Meetup 17"
**Title**
Operate First Data Science Community Meetup 17 - Future of the Operate First Data Science Community - Expanding the organizers of the meetup

**Short Description**
One of the first public faces of the Operate First project was the early iterations of the Data Science Meetup, and it has grown to be a popular and recognizable aspect of this community. Along the way, it has had multiple han

[2022-07-21 21:51] sesheta commented on #37
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-21 21:51] sesheta commented on #38
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-21 21:51] sesheta commented on #47
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-21 21:51] sesheta commented on #36
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-21 21:51] sesheta commented on #40
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-21 21:51] sesheta commented on #67
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-21 21:51] sesheta commented on #52
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-23 03:51] sesheta commented on #35
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-07-27 17:49] aakankshaduggal commented on #118
@quaid, you suggested we send out a survey. Are there some questions you have in mind?

We can use this space to finalize the survey and send it along with the update email with the video recording and slides. It will also give others(non-attendees) to watch the video and provide feedback.

[2022-08-03 18:52] sesheta commented on #75
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-08-04 18:53] sesheta commented on #50
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-08-05 15:05] aakankshaduggal opened #120 "Operate First Data Science Community Meetup 18"
**Title**
Build AIOps tools using Operate First

**Short Description**
Want to learn how to accelerate your development of AI applications on the hybrid cloud? In this workshop, we introduce you to Operate First, an open cloud platform that provides cloud services and applications that support data scientists. We will walk you through the process of building a simple AIOps tool from scratch on the

[2022-08-11 00:55] sesheta commented on #83
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-08-21 00:47] sesheta commented on #67
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-21 00:47] sesheta commented on #38
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-21 00:47] sesheta commented on #52
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-21 00:47] sesheta commented on #37
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-21 00:47] sesheta commented on #36
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-21 00:47] sesheta commented on #40
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-21 00:47] sesheta commented on #47
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-22 06:47] sesheta commented on #35
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-08-22 06:47] #35 closed

[2022-08-22 06:47] sesheta commented on #35
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first-data-science-community/issues/35#issuecomment-1221921751):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue aga

[2022-08-31 14:24] MichaelClifford opened #121 "Ray with Open Data Hub"
## Please provide the following info about your topic submission

**Title**
Distributed Machine Learning with Ray on Open Data Hub

**Short Description**
In this talk, Michael Clifford will provide an overview of the distributed compute framework, Ray, and how it can be used as part of the Open Data Hub project to train, tune, and serve our machine learning models with relative ease on OpenShift.

[2022-08-31 16:34] aakankshaduggal opened #122 "Operate First Data Science Community Meetup 19"
**Title**
Operate First Data Science Community Meetup 19 - Distributed Machine Learning with Ray on Open Data Hub

**Short Description**
In this talk, Michael Clifford will provide an overview of the distributed compute framework, Ray, and how it can be used as part of the Open Data Hub project to train, tune, and serve our machine learning models with relative ease on OpenShift. By the end of thi

[2022-09-02 21:49] sesheta commented on #75
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-09-02 21:49] #75 closed

[2022-09-02 21:49] sesheta commented on #75
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first-data-science-community/issues/75#issuecomment-1235921180):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue aga

[2022-09-03 21:50] sesheta commented on #50
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-09-03 21:50] sesheta commented on #50
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first-data-science-community/issues/50#issuecomment-1236203322):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue aga

[2022-09-03 21:50] #50 closed

[2022-09-10 03:51] sesheta commented on #83
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-09-10 03:52] sesheta commented on #83
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first-data-science-community/issues/83#issuecomment-1242611236):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue aga

[2022-09-10 03:52] #83 closed

[2022-09-20 00:56] sesheta commented on #52
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-09-20 00:56] sesheta commented on #67
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-09-20 00:56] sesheta commented on #37
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-09-20 00:56] sesheta commented on #38
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-09-20 00:56] sesheta commented on #36
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-09-20 00:56] sesheta commented on #40
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-09-20 00:56] sesheta commented on #47
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-09-20 00:56] #37 closed

[2022-09-20 00:56] #38 closed

[2022-09-20 00:56] #52 closed

[2022-09-20 00:56] #67 closed

[2022-09-20 00:56] #36 closed

[2022-09-20 00:56] sesheta commented on #37
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first-data-science-community/issues/37#issuecomment-1251716722):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue aga

[2022-09-20 00:56] sesheta commented on #38
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first-data-science-community/issues/38#issuecomment-1251716716):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue aga

[2022-09-20 00:56] sesheta commented on #40
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first-data-science-community/issues/40#issuecomment-1251716735):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue aga

[2022-09-20 00:56] #40 closed

[2022-09-20 00:56] #47 closed

[2022-09-20 00:56] sesheta commented on #52
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first-data-science-community/issues/52#issuecomment-1251716712):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue aga

[2022-09-20 00:56] sesheta commented on #67
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first-data-science-community/issues/67#issuecomment-1251716700):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue aga

[2022-09-20 00:56] sesheta commented on #36
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first-data-science-community/issues/36#issuecomment-1251716729):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue aga

[2022-09-20 00:56] sesheta commented on #47
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first-data-science-community/issues/47#issuecomment-1251716739):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue aga

[2022-09-25 22:18] sesheta commented on #84
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-28 16:19] sesheta commented on #110
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-10-19 17:12] sesheta commented on #112
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-10-25 23:15] sesheta commented on #84
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-10-28 17:16] sesheta commented on #110
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-11-03 20:18] sesheta commented on #118
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-11-13 17:21] sesheta commented on #120
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-11-18 17:22] sesheta commented on #117
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-11-18 17:22] sesheta commented on #112
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-11-24 23:21] sesheta commented on #84
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-11-24 23:21] #84 closed

[2022-11-24 23:22] sesheta commented on #84
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first-data-science-community/issues/84#issuecomment-1326889171):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue aga

[2022-11-27 17:22] sesheta commented on #110
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-11-27 17:22] #110 closed

[2022-11-27 17:22] sesheta commented on #110
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/operate-first/operate-first-data-science-community/issues/110#issuecomment-1328299147):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue ag

[2022-11-29 17:24] sesheta commented on #122
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale